@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
button{
    border: none;
}
.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 17px;
    font-family: 'Poppins', sans-serif;}

body{
    header {
        font-style: normal;
        padding: 20px;

        .nav-box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav-1{
                display: flex;
                align-items: center;
                gap: 16px;
                .h1{
                    color: #173A56;
                    font-size: 30px;
                    font-weight: 700;
                    line-height: 28px;
                }

            }

            .nav-2{
                display: flex;
                align-items: center;
                gap: 20px;
                color: #22343D;
                font-size: 16px;
                font-weight: 600;
                line-height: 28px; 
                .btn-1{
                    width: 102px;
                    height: 43px;
                    border-radius: 4px;
                    border: 1px solid #BCD0E5;
                    background: #FFF;
                    font-size: 16px;
                    font-weight: 700;
                }
                .btn-1:hover{
                    border: none;
                    background: #02897A;
                    color: #FFF;
                }
                .btn-img{
                    border-radius: 50%;
                    background: #eceff1;
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }

    
    main{
        .logo{
            padding: 30px 0;
            .logo-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .logo-1{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                   
                    h1{
                        color: #22343D;
                        font-size: 40px;
                        font-weight: 700;
                        line-height: 60px; 
                        width: 400px;
                    }
                    p{
                        color: #22343D;
                        font-size: 18px;
                        font-weight: 400;
                        line-height: 28px; 
                        width: 440px;
                    }
                    .logo-1-child{
                        display: flex;align-items: center;
                        gap: 30px;

                        button{
                            width: 175px;
                            height: 53px;
                            border-radius: 4px;
                            background: #02897A; 
                            color: #FFF;  
                            font-size: 16px;
                            font-weight: 700;
                        }
                        img{
                            width: 135px;
                            height: 24px;
                        }
                    }
    
                }
            }
               
        }

        .hero{
            .hero-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1{
                    color: #22343D;
                    text-align: center;
                    font-size: 32px;
                    font-weight: 700;
                    width: 530px;
                    padding: 60px 0;
                }
                button{
                    width: 175px;
                    height: 53px;
                    border-radius: 4px;
                    background: #02897A;
                    color: #FFF;
                    font-size: 16px;
                    font-weight: 700;
                }
                
                .hero-links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: url(../images/hero-bac.png);

                    .hero-1{
                        margin-bottom: 60px;
                        h3{
                            padding: 30px 0 13px ;
                        }
                        p{
                            color: #22343D;
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 26px; 
                            width: 240px;
                        }
                    }
                }
            }
        }

        .inter{
            .inter-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 160px 0 170px 0;

                .inter-1{
                    h3{
                        color: #22343D;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    p{
                        color: #22343D;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px; 
                        width: 486px;
                        padding: 20px 0;
                    }
                }
            }
        }

        .wrapper{
            .wrapper-box{
                display: flex;
                justify-content: space-between;
                align-items: center;

                .wrapper-2{
                    h3{
                        color: #22343D;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    h1{
                        color: #22343D;
                        font-size: 32px;
                        font-weight: 800;
                    } 
                    p{
                        color: #22343D;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        width: 486px;
                        padding: 18px 0;
                    }   
                    .wrapper-2-child{
                        display: flex;
                        align-items: center;
                        gap: 30px;

                        p{
                            width: 365px;
                        }
                    }
                    
                }
            }
        }

        .info{

            .info-box{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 150px 0 167px 0;

                .info-1{
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    h3{
                        color: #22343D;
                        font-size: 16px;
                        font-weight: 600;
                    }
                    h1{
                        color: #22343D;
                        font-size: 32px;
                        font-weight: 700;
                    }
                    p{
                        color: #22343D;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 26px;
                        width: 486px;
                        
                    }
                }
            }
        }
    }

        .group{
            background-image: url(../images/group-bac.svg);
            background-size: 100%;
            background-repeat: no-repeat;
            padding-top: 50px;

            .group-box{
                display: flex;
                flex-direction: column;
                // justify-content: center;
                align-items: center;

                h1{
                    color: #22343D;
                    text-align: center;
                    font-size: 32px;
                    font-weight: 700;
                }
                p{
                    color: #22343D;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 26px; 
                    width: 542px;
                    padding: 30px 0;
                }
                button{
                    width: 216px;
                    height: 53px;
                    border-radius: 4px;
                    background: #02897A;
                    margin-top: 60px;
                    margin-bottom: 150px;
                    
                }

                .group-1{
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    gap: 150px;

                    .group-1-1{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 30px;
                        p{
                            width: 225px;
                        } 

                        img{
                            width: 90px;
                            height: 90px;
                            border-radius: 98px;
                            border: 3px solid #035B81;
                            background: url(<path-to-image>), lightgray 50% / cover no-repeat;
                        }
                    }
                }
            }
        }

        .contact{
            .contact-box{
                h1{
                    color: #22343D;
                    font-size: 34px;
                    font-weight: 700;
                }
                p{
                    color: #22343D;
                    font-family: Poppins;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px; 
                    padding: 10px 0 33px 0;
                }
                .contactes-1{
                    width: 348px;
                    height: 359px;
                    border-radius: 8px;
                    background: #FFF;
                    // border: 1px solid  #d6dade;
                    display: flex;
                    justify-content: space-between;
                    gap: 40px;
                    // align-items: center;
                    
                    .contact-1{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid  #d6dade;

                        h2{
                            color: #22343D;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 40px; 
                            width: 294px;
                            margin-top: -10px;
                            
                        }
                        p{
                            margin-top: 20px;
                            span{
                                color: #22343D;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 28px;
                            }
                        }

                    }
                    .contact-2{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;    
                        border: 1px solid  #d6dade;
                       

                        h2{
                            color: #02897A;
                            font-size: 24px;
                            font-weight: 700;
                            line-height: 40px; 
                            width: 294px;
                            margin-top: -10px;
                            
                        }
                        p{
                            margin-top: 20px;
                            span{
                                color: #22343D;
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 28px;
                            }
                        }

                    }
                }
            }
            .owl-dots{
                margin-top: 80px !important;
            }
        }

        .payme{
            .payme-box{
                padding: 150px 0;
                .payme-home{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 50px;
                    .payme-1{
                        width: 322.649px;
                        height: 456px;
                        border-radius: 8px;
                        background: #FFF;
                        box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 16px;
    
                        .payme-child-1{
                            display: flex;
                            align-items: center;
                            gap: 13px;
    
                            p{
                                color: var(--second-text, #AFAFAF);
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 19px;
                                letter-spacing: 0.1px;
                            }
                        }
    
                        button{
                            display: inline-flex;
                            padding: 11px 19px 11px 18px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            background: #02897A;
                            color: #FFF;
                            margin-top: 20px;
                            color: #FFF;
                            font-size: 18px;
                            font-weight: 600;
                        }
                    }

                    .payme-1:hover{
                        color: #fff;
                        background: #02897A;
                        
                    }
                    .payme-1:hover button{
                        background: #fff;
                        color: #02897A;
                    }
                    
                }
            }
        }

        .apple{
            .apple-box{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 157px;
                h1{
                    color: #22343D;
                    font-family: Poppins;
                    font-size: 34px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 57px;
                    letter-spacing: 0.2px;
                }
                p{
                    color: #22343D;
                    text-align: center;
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 28px; 
                    letter-spacing: 0.2px;
                    padding: 8px 0 0px 0;
                }
                .apple-home{
                    margin-top: 50px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 110px;
                    .apple-1{
                        width: 327px;
                        height: 236px;
                        border-radius: 5px;
                        border: 1px solid #DEDEDE;
                        background: var(--light-background, #FFF);
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        p{
                            color: var(--second-text-color, #737373);
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 28px;
                            letter-spacing: 0.2px;
                            width: 275px;
                        }
                        .apple-1-1{
                            display: flex;
                            justify-content: center;
                            align-items: center;


                            .apple-1-child{
                                img{
                                    margin-left: 50px;
                                }
                                padding: 0 0;
                                .para{
                                    color: #02897A;
                                }
                            }
                        }
                    }
                }
            }
        }
        
        .footer-top{
            margin-bottom: 40px;
            .footer-top-box{
                display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                .footer-1{
                    border-radius: 32px;
                    background: #02897A;
                    padding: 10px 0;
                    width: 80%;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    .footer-1-1{
                        margin-left: 50px;
                        p{
                            color: #FFF;
                            font-size: 32px;
                            font-weight: 600;
                            line-height: 151.4%; 
                            width: 510px;
                        }
                        button{
                            display: inline-flex;
                            padding: 13px 35px 7px 33px;
                            justify-content: center;
                            align-items: center;
                            border-radius: 8px;
                            background: #FFF;
                            color: #02897A;
                            font-size: 20px;
                            font-weight: 600;
                            margin-top: 40px;
                        }
                    }
                    
                }
            }
        }
}

